<!DOCTYPE html>
<html>
  <head>
  <%- partial("partials/_head") %>
  </head>
  <body>
    <div id="fullpage">
      <!-- Nav -->
      <%- partial("partials/_header") %>
      <!-- what is bespole -->
      <%- partial("partials/sections/bespoke/_whatisbespoke") %>
      <!-- map -->
      <%- partial("partials/sections/_map") %>
      <!-- extras -->
      <%- partial("partials/sections/bespoke/_extaoption") %>
      <!-- bespoke more info  -->
      <%- partial("partials/sections/bespoke/_bespokemoreinfo") %>
      <!-- contact footer -->
      <%- partial("partials/sections/_footer") %>
  </div>
  <%- partial("partials/_scripts") %>
  </body>
</html>
