<!DOCTYPE html>
<html>
  <head>
  <%- partial("partials/_head") %>
  </head>
  <body>
    <div id="fullpage">
      <!-- Nav -->
      <%- partial("partials/sections/_header") %>
      <!-- what is bespole -->
      <%- partial("partials/sections/bespoke/_whatisbespoke") %>
      <!-- map -->
      <%- partial("partials/sections/_map") %>
      <!-- extras -->
      <%- partial("partials/sections/bespoke/_extaoption") %>
      <!-- bespoke more info  -->
      <%- partial("partials/sections/bespoke/_bespokemoreinfo") %>
      <!-- contact footer -->
      <%- partial("partials/sections/_footer") %>
  </div>
  </body>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/jquery-ui.min.js" charset="utf-8"></script>
  <script src="js/vendor/jquery.fullPage.min.js" charset="utf-8"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.min.js"></script>
  <script src="js/app.js" charset="utf-8"></script>
  <script src="js/map.js" charset="utf-8"></script>

</html>
