<!DOCTYPE html>
<html>
  <head>
  <%- partial("partials/_head") %>
  </head>
  <body>
    <div id="fullpage">
      <!-- Nav -->
      <%- partial("partials/_header") %>
      <!-- what is direct-cremation -->
      <%- partial("partials/sections/direct/_whatisdirect") %>
      <!-- direct-cremation more info  -->
      <%- partial("partials/sections/direct/_dirmoreinfo") %>
      <!-- contact footer -->
      <%- partial("partials/_footer") %>
    </div>
    <%- partial("partials/_scripts") %>
  </body>
</html>
