<!DOCTYPE html>
<html>
  <head>
    <%- partial("partials/_head") %>
  </head>
  <body>
    <div id="fullpage">
      <!-- Nav -->
      <%- partial("partials/_header") %>
      <!-- landing -->
      <%- partial("partials/sections/_landing") %>
      <!-- options-page -->
      <%- partial("partials/sections/_options") %>
    </div>
    <%- partial("partials/_sripts") %>
  </body>
</html>
