<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/jqueryfullPage.css" media="screen" title="no title">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesheet.css" media="screen" title="no title">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Roboto:300,400,700" rel="stylesheet" />
    <title></title>
  </head>
  <body>
    <div id="fullpage">
      <!-- Nav -->
      <%- partial("partials/_header") %>
      <!-- what is simple -->
      <%- partial("partials/sections/simple/_whatsimple") %>
      <!-- map -->
      <%- partial("partials/sections/_map") %>
      <!-- more info page -->
      <%- partial("partials/sections/simple/_simplemoreinfo") %>
      <!-- footer -->
      <%- partial("partials/_footer") %>
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
      <script src="js/vendor/jquery.js"></script>
      <script src="js/vendor/jquery.fullPage.min.js" charset="utf-8"></script>
      <script src="js/vendor/what-input.js"></script>
      <script src="js/vendor/foundation.min.js"></script>
      <script src="js/vendor/granim.min.js" charset="utf-8"></script>
      <script src="js/simple.js"></script>
      <script src="js/map.js"></script>
      <script src="js/options.js" charset="utf-8"></script>
  </body>
</html>
