<!DOCTYPE html>
<html>
  <head>
  <%- partial("partials/_head") %>
  </head>
  <body>
    <div id="fullpage">
      <!-- Nav -->
      <%- partial("partials/_header") %>
      <!-- what is simple -->
      <%- partial("partials/sections/simple/_whatsimple") %>
      <!-- map -->
      <%- partial("partials/sections/_map") %>
      <!-- more info page -->
      <%- partial("partials/sections/simple/_simplemoreinfo") %>
      <!-- footer -->
      <%- partial("partials/_footer") %>
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/jquery-ui.min.js" charset="utf-8"></script>
    <script src="js/vendor/jquery.fullPage.min.js" charset="utf-8"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/map.js" charset="utf-8"></script>
  </body>
</html>
