<!DOCTYPE html>
<html>
  <head>
  <%- partial("partials/_head") %>
  </head>
  <body>
    <div id="fullpage">
      <!-- Nav -->
      <%- partial("partials/_header") %>
      <!-- what is simple -->
      <%- partial("partials/sections/simple/_whatsimple") %>
      <!-- map -->
      <%- partial("partials/sections/_map") %>
      <!-- more info page -->
      <%- partial("partials/sections/simple/_simplemoreinfo") %>
      <!-- footer -->
      <%- partial("partials/_footer") %>
    </div>
    <%- partial("partials/_sripts") %>
  </body>
</html>
